asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
brotli==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
django-allauth==0.62.1 ; python_version >= "3.12" and python_version < "4.0"
django-sqids==0.2.0 ; python_version >= "3.12" and python_version < "4"
django==5.0.6 ; python_version >= "3.12" and python_version < "4.0"
environs==11.0.0 ; python_version >= "3.12" and python_version < "4.0"
hiredis==2.3.2 ; python_version >= "3.12" and python_version < "4.0"
marshmallow==3.21.2 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.12" and python_version < "4.0"
psycopg==3.1.18 ; python_version >= "3.12" and python_version < "4.0"
pymemcache==4.0.0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4.0"
redis[hiredis]==5.0.4 ; python_version >= "3.12" and python_version < "4.0"
sqids==0.4.1 ; python_version >= "3.12" and python_version < "4"
sqlparse==0.5.0 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.11.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
whitenoise[brotli]==6.6.0 ; python_version >= "3.12" and python_version < "4.0"
