{% extends "base.html" %}

{% block title %}Happimo - Activities{% endblock title %}

{% block body_class %}body--activities{% endblock %}

{% block content %}
  {% include 'includes/app_header.html' %}

  <main class="main main--activities">
    <ul class="activities">
      {% for activity in activities %}
        <li class="activity action">
          <a href="{% url 'activity_update' activity.sqid %}">
            {{activity.name}}
          </a>
        </li>
      {% empty %}
        <p>You don't have any activities added yet!</p>
      {% endfor %}
    </ul>

    <div class="actions-container">
      <a
        href="{% url 'activity_create' %}"
        class="action action--add">
        Add new activity
      </a>
    </div>
  </main>
{% endblock content %}
