{% extends "base.html" %}

{% load static %}

{% block title %}Happimo - Entries{% endblock title %}

{% block extra_js %}
  {% if debug %}
    <script src="{% static 'js/htmx.js' %}" defer></script>
    <script src="{% static 'js/debug.js' %}" defer></script>

    <script>
      if (typeof window.htmx !== "undefined") {
        htmx.on("htmx:afterSettle", function(detail) {
          if (
            typeof window.djdt !== "undefined"
            && detail.target instanceof HTMLBodyElement
          ) {
            djdt.show_toolbar();
          }
        });
      }
    </script>
  {% else %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
  {% endif %}

  <script>
    window.addEventListener('htmx:afterRequest', function (event) {
      if (event.srcElement.className == 'next-page-loader') {
        event.srcElement.remove();
      }
    });
  </script>
{% endblock extra_js %}

{% block body_class %}body--entries{% endblock %}

{% block content %}
  {% include 'includes/app_header.html' %}

  <main class="main main--entries">
    <ul class="entries list">
      {% include 'moods/hx_entry_list.html' %}
    </ul>
  </main>
{% endblock content %}
