{% extends "base.html" %}

{% block title %}Entries{% endblock title %}

{% block content %}
  <h1>Entries</h1>
  <a href="{% url 'entry_create' %}">Add</a>

  <ul>
    {% for entry in entries %}
      <li>
        <span>{{ entry.mood.icon }}{{ entry.mood.name }} {{ entry.note_title }} - {{ entry.date }}, {{ entry.time }}</span>
        <a href="{% url 'entry_update' entry.sqid %}">Edit</a>
        <a href="{% url 'entry_delete' entry.sqid %}">Delete</a>
      </li>
    {% empty %}
      <p>You don't have any entries added yet!</p>
    {% endfor %}
  </ul>
{% endblock content %}
