{% for entry in entries %}
  <li
    class="entry action action--card"
    hx-get="{% url 'entry_update' entry.sqid %}"
    hx-target="body"
  >
    <div class="entry__mood">{{ entry.mood.icon }}</div>

    <time class="entry__date"> {{ entry.date }}, {{ entry.time }} </time>
    <p class="entry__note">{{ entry.note_title }}</p>

    {% if entry.activities.all %}
      <ul class="entry__activities list">
        {% for activity in entry.activities.all %}
          <li class="entry__activity">{{ activity.name }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}

{% if page_obj.has_next %}
  <span
    class="next-page-loader"
    hx-get="/app/?page={{page_obj.next_page_number}}"
    hx-headers='{"X-Next-Page": "True"}'
    hx-push-url="false"
    hx-trigger="intersect throttle:3s once"
    hx-swap="beforeend"
    hx-target=".entries"
  >
  </span>
{% else %}
<!-- TODO: Check if there were any pages to start with. -->
{% endif %}
