{% extends "base.html" %}

{% block title %}Moods{% endblock title %}

{% block content %}
  <main class="main">
    <ul class="moods">
      {% for mood in moods %}
        <li class="mood">
          <div class="mood__icon">
            {{ mood.icon}}
          </div>
          <p class="mood__name">
            {{mood.name}}
          </p>
        </li>
      {% empty %}
        <p>You don't have any moods added yet!</p>
      {% endfor %}
    </ul>

    <div class="actions">
      <button
        hx-get="{% url 'mood_create' %}"
        hx-target="body"
        class="btn btn--action">
        Add new mood
      </button>
    </div>
  </main>
{% endblock content %}
