{% extends "base_form.html" %}

{% load static %}

{% block form_title %}Happimo - New mood{% endblock form_title %}

{% block form_classes %}form--mood form--mood-create{% endblock form_classes %}
{% block form_action %}{% url 'mood_create' %}{% endblock form_action %}
{% block form_header %}Add a new mood{% endblock form_header %}
{% block form_body %}
  {{ form.as_p }}
  <datalist id="appColors">
    <option>#06d6a0</option>
    <option>#48233c</option>
    <option>#5b6057</option>
    <option>#7542e6</option>
    <option>#ffa62b</option>
  </datalist>
{% endblock form_body %}
{% block submit_text %}Add{% endblock submit_text %}
