{% extends "base.html" %}

{% load static %}

{% block title %}Happimo - Moods{% endblock title %}

{% block extra_js %}
  {% if debug %}
    <script src="{% static 'js/html5sortable.js' %}" defer></script>
  {% else %}
    <script src="{% static 'js/html5sortable.min.js' %}" defer></script>
  {% endif %}

  <script>
    window.addEventListener('DOMContentLoaded', () => {
      sortable('.moods', {
        forcePlaceholderSize: true,
        placeholderClass: 'mood',
      });
    });
  </script>
{% endblock extra_js %}

{% block content %}
  <main class="main main--moods">
    <form class="moods" role="list" hx-post="{% url 'mood_reorder' %}" hx-trigger="sortupdate" hx-push-url="false">
      {% include 'moods/hx_mood_list.html' %}
    </form>

    <a
      href="{% url 'mood_create' %}"
      class="button button--add">
      New mood
      <img src="{% static 'icons/plus.svg' %}" alt="Add" class="icon" />
    </a>
  </main>
{% endblock content %}
