{% extends "base_form.html" %}

{% load static %}

{% block form_title %}Happimo - Update mood{% endblock form_title %}

{% block extra_css %}
  <link href="{% static 'css/coloris.min.css' %}" rel="stylesheet" />
{% endblock extra_css %}

{% block form_extra_js %}
  <script src="{% static 'js/coloris.min.js' %}" defer></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      Coloris({
        alpha: false,
        el: 'input[name="color"]',
      });
    });
  </script>
{% endblock form_extra_js %}


{% block form_classes %}form--mood form--mood-update{% endblock form_classes %}
{% block form_header %}Update mood{% endblock form_header %}
{% block form_body %}{{ form.as_p }}{% endblock form_body %}
{% block submit_text %}Update{% endblock submit_text %}
