{% extends "base.html" %}

{% block title %}Happimo - Moods{% endblock title %}

{% block body_class %}body--moods{% endblock %}

{% block content %}
  {% include 'includes/app_header.html' %}

  <main class="main main--moods">
    <ul class="moods list">
      {% for mood in moods %}
        <li class="mood action actionable--card"
            hx-get="{% url 'mood_update' mood.sqid %}"
            hx-target="body"
        >
          <div class="mood__icon">
            {{ mood.icon}}
          </div>
          <p class="mood__name">
            {{mood.name}}
          </p>
        </li>
      {% endfor %}
    </ul>

    <div class="actions-container">
      <button
        hx-get="{% url 'mood_create' %}"
        hx-target="body"
        class="action action--add">
        Add new mood
      </button>
    </main>
  </div>
{% endblock content %}
