{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>

    <!-- Styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    {% block extra_css %}
    {% endblock extra_css %}

    <!-- JavaScript -->
    {% if debug %}
      <script src="{% static 'js/htmx.js' %}" defer></script>
      <script src="{% static 'js/debug.js' %}" defer></script>

      <script>
        if (typeof window.htmx !== "undefined") {
          htmx.on("htmx:afterSettle", function(detail) {
            if (
              typeof window.djdt !== "undefined"
              && detail.target instanceof HTMLBodyElement
            ) {
              djdt.show_toolbar();
            }
          });
        }
      </script>
    {% else %}
      <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% endif %}

    {% block extra_js %}
    {% endblock extra_js %}
  </head>

  <body class="body {% block body_class %}{% endblock %}" hx-boost="true" hx-push-url="true" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block content %}
    {% endblock content %}
  </body>
</html>
